In [1]:
# Import necessary libraries.
import pandas as pd

In [9]:
# Read in data for test.
data = pd.read_csv('data/Pokemon.csv', index_col=0)

In [10]:
data[0:3]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False